* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    line-height: 1.6;
    background-color: #93bdb3; 
    color: #628474;
    display: grid;
    place-items: center;
    min-height: 100vh;
}

.login {
    background: #f3f4ed; 
    padding: 2.5rem;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    margin: 1rem;
}

#login {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
}

#login h2 {
    color: #216d52; 
    text-align: center;
    margin-bottom: 0.5rem;
}

.login-senha {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.login-senha label {
    font-weight: bold;
    color: #216d52;
}

.login-senha input {
    padding: 0.75rem;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 1rem;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif
}


button {
    background-color: #216d52;
    color: white;
    padding: 0.8rem;
    border: none;
    border-radius: 4px;
    font-size: 1.1rem;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
}


button:hover {
    background-color: #628474;
}

.logo img {
    height: 150px; 
    width: auto; 
    display: block; 
    margin-left: auto;
    margin-right: auto;
}